<div class="ajax_entry">
<input class="title_input" type="text" value="{{title}}">

<textarea class="entry_input">{{entry}}</textarea>

<input class="categories_input" type="text" value="{{categories}}">

<button class="buttons">{{button_text}}</button>
</div>

